@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(242, 137, 179);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}

a {
  text-decoration: none;
}

span {
  margin-right: 5px;
  font-size: 20px;
  align-items: center;
  display: flex;
  gap: 5px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 35px;
}
